# Java / Maven
**/target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.properties

# Node.js / Frontend
**/node_modules/
**/dist/
**/build-frontend/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter / Dart / Mobile
**/.dart_tool/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.apk
*.aab
*.ipa

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
